.cproject
.project
*.o
*.ko
*.cmd
*.mod.c
opkg/*
SNIPPETS/*
release/*
*.patch
*.stash
ACQ480/
CARE/axidebugson
CARE/catchup-ratio
CARE/ext-clk-1M-sc10Mdiv1
CARE/ext-clk-1M-sc20Mdiv2
CARE/rails.dat
CARE/run-offload-test.1234
CARE/spidebugson
DUAL-AXI-README
MGT_EXPERIMENTS_DELETEME/
Module.symvers
SAFE/
__mgt_offload_custom
acq400-spi-bytebang.c
acq400_axi_dma_test_harness
acq400_drv.c.orig
acq400_knobs
acq400_sls
acq400_stream
acq400_stream_disk
acq435_decode
acq435_rtm_trim
acq480_knobs
amalloc.c
anatrg
axidma_golden.c
bb
bigcat
bpaste
clocks_to_first_edge
demux_480x80
demux_480x80.cpp
dmadescfs-160316084521.tgz
dmadescfs.tgz
dmadescfs_test
dot.cproject
dsp_coprocessor
dt100@brotto
fix_state
gpdgen.c
hog
hog.c
idler
idler.c
is_ramp
lp3943_dev.c
mapping
mgtdram_descgen
mmap
mmaptest
modules.order
multicast
multicast.c
multisitecheckramp
muxdec
permute
phased_array
radcelf-spi-bytebang.c
ramp
scripts/acq400_stream_ident
scripts/bigcat.sh
scripts/buffers_are_physically_contiguous
subsample.cpp
tblock2file
transition_counter
udp_client
wavegen
dawg
packageko*
bbq_send_ai
*.o.d
egu2int
watchdog_PIL
libacq.so*
modules.img
spadramp



